<section class="hero is-fullheight">
  <div class="hero-body hero-background">
    <div class="column is-half ml-6">
      <p class="title is-1 mb-6">
        Bienvenue sur le site du Réseau National des Maisons des Associations
      </p>
      <p class="subtitle">
        Retrouver sur ce site tout ce qui est en lien avec le Réseau National des Maisons des Associations
      </p>
    </div>
    <div class="column ml-7">
      <figure>
        <%= image_tag "logo.png" %>
      </figure>
    </div>
  </div>
</section>