<nav class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href=<%= pages_home_path %>>
      <%= image_tag('logo.png') %>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href=<%= pages_home_path %>>
        Accueil
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Au niveau national
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Pourquoi des maisons des associations ?
          </a>
          <a class="navbar-item">
            Pourquoi un réseau ?
          </a>
          <a class="navbar-item">
            Agenda
          </a>
          <a class="navbar-item">
            Charte, statuts et règlement intérieur
          </a>
          <a class="navbar-item">
            Une longue histoire d'échanges...
          </a>
          <a class="navbar-item">
          Newsletter
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Dans les régions
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Les membres du RNMA
          </a>
          <a class="navbar-item">
            Outils et compétences des Maisons des associations du réseau
          </a>
          <a class="navbar-item">
            Les sites internet des membres
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Nos ressources
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Le repère
          </a>
          <a class="navbar-item">
            Rencontres nationales digitales du RNMA
          </a>
          <a class="navbar-item">
            Partage en période de COVID-19
          </a>
          <a class="navbar-item">
            Métier accompagnateur
          </a>
          <a class="navbar-item">
            Ressources de nos partenaires
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Nos actions
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Observer pour agir
          </a>
          <a class="navbar-item">
            L'engagement à portée de tous
          </a>
          <a class="navbar-item">
            Soutien aux micro-employeurs associatifs
          </a>
          <a class="navbar-item">
            Soutien aux projets inter-associatifs
          </a>
          <a class="navbar-item">
            Formation et ingéniérie
          </a>
        </div>
      </div>

      <a class="navbar-item">
        Réseaux et partenaires
      </a>

      <a class="navbar-item">
        Liens
      </a>

      <a class="navbar-item">
        Contact
      </a>

      <a class="navbar-item">
        Demande d'infos
      </a>
    </div>
  </div>
  </nav>
