<div class="post">

  <p class="title is-2 mt-3 has-text-centered is-family-primary">
    Actualités
  </p>

  <div class="columns mx-6 is-desktop">
        <% @posts.each do |post| %>
          <%= render partial: 'partials/post_card', locals: { post: post } %>
        <% end %>
  </div>

  <section class="hero is-link is-small">
    <div class="hero-body">
      <div class="container has-text-centered">
        <button class="button is-primary is-centered">
          <%= link_to 'Toutes les actualités', pages_posts_path %>
        </button>
      </div>
    </div>
  </section>
</div>